@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
    background-image: url("https://i.imgur.com/QpFFwMz.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Orbitron', sans-serif;
}
.container {
    display:flex;
    justify-content: center;
}

span {
    color: red;
    font-size: 4rem;
    padding: 3rem;
}

.fas {
    color: red;
    font-size: 4rem;
    padding: 3rem;
    margin-top: 1rem;
}